.text-decorator-none{
    text-decoration: none;
}



.MuiBotton-containedPrimary{
    background-color: black;
}


.margin-box{
    margin: 80px 50px 60px 50px !important;
}

.color-lixo{
    color: gray;
}

.color-lixo:hover{
    color: red !important;
}