.perfilContainer{
    margin: 100px !important;
}

.fPerfil{
    width: 15rem !important;
    height: 15rem !important;
    margin: 0 auto !important;
  }
  
  .testeper{
    width: 100px !important;
    height: 100px !important;
  }

  .postagens{
    justify-content: center;
    margin: auto auto auto 200px;
  }

  .postagens-titulo{
    margin-bottom: 30px !important;
  }