body{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-matriz-de-fluxo-de-algoritmo-de-codigo-binario-digital_1017-25328.jpg?w=826&t=st=1666046735~exp=1666047335~hmac=b5d1d195f434e4a3162c7147496fec2cd1371d408f325f05d4809271f3dd81c3);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}

.login{
    margin-top: 60px;
    
}

.box{
    padding: 50px;
    justify-content: center !important;
    align-items: center !important;
    background: rgba(255,255,255,0.07);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border: 1px solid rgba(255,255,255,0);
    border-radius: 6% 6% 6% 6% / 6% 6% 6% 6%;
    
    
}

.textos1{
    font-weight:bold !important;
    color: black;
}

.imagem{
    background-image: url(https://media1.giphy.com/media/bGgsc5mWoryfgKBx1u/giphy.gif?cid=ecf05e47yl1i2tfdtuxqhaeyvuteakicnwjfeqfo9duc33vt&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
}

.text-decorator-none{
    text-decoration: none !important;
}

/* .button-color{
    color: white !important;
    background-color: black !important;
} */

.textos-link{
    font-weight: bold !important;
    color: black;
    transition: all 0.5s;
}

.textos-link:hover{
    color: rgb(87, 87, 87)
}

.titulo-blog{
    font-family: 'Dancing Script', cursive !important;
    font-size: 50px !important;
    text-align: center;
    font-weight: bolder !important;
    color: black !important;
    margin-bottom: 30px !important;
}

.MuiBotton-ContainedPrimary{
    color: white;
    background-color: black !important;
}
/* 
.MuiBotton-ContainedPrimary :disabled{
    background-color: gray;
} */

.MuiButton-contained {
    color: rgba(255, 255, 255, 0.87) !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: black !important;
}

.MuiButton-contained:hover {
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: rgb(15, 15, 15) !important;
}

.MuiButton-contained:disabled{
    background-color: gray !important;
}

.MuiFilledInput-input{
}

.MuiInputBase-input{
}

.loading-login{
    margin: 5px;
}