.textos1{
    font-weight:bold !important;
    color: black;
}

.imagem{
    background-image: url(https://i0.wp.com/www.farofeiros.com.br/wp-content/uploads/2013/02/Batman-e-Coringa-animados-GIF-Greg-Capullo-Scott-Snyder-03-Blog-Farofeiros.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
}

.text-decorator-none{
    text-decoration: none !important;
}

.button-color{
    color: white !important;
    background-color: black !important;
}

.textos-link{
    font-weight: bold !important;
    color: black;
    transition: all 0.5s;
}

.textos-link:hover{
    color: rgb(87, 87, 87)
}

.titulo-blog{
    font-family: 'Dancing Script', cursive !important;
    font-size: 50px !important;
    text-align: center;
    font-weight: bolder !important;
    color: black !important;
    margin-bottom: 30px !important;
}