.box1{
    background-color: #3F51B5;
    height: 120px;
}

.box2{
    background-color: #303F9F;
     height: 60px;
}

.redes{
    font-size: 60px !important ;
     color: white;
     transition: all 1s !important;
}

.github:hover{
    transform: scale(1.2) rotate(360deg);
    color: black;
}

.linkedin{
    font-size: 60px;
}

.linkedin:hover{
    transform: scale(1.2) rotate(360deg);
    color: #48ade4;
}

.icons {
    display: flex;
    column-gap: 25px;
    
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icons {
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: black;
    outline-color: black;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}


  


/* .instagram:hover{
    color: linear-gradient(#5656cd, #dd6050, #9a36b7) !important; 
    color: rgb(255, 0, 221);
} */

.instagram{
    width: 60px;
    height: 60px;
    background-image: url("./../../../../img/ICONE-Instagram-Branco\ \(1\).png");
    transition: all 1s;
  }   
.instagram:hover{
    transform: scale(1.2) rotate(360deg) ;
    background-image: url("./../../../../img/redimensionado.png");
    transition: all 1s;
  }

.textos{
    color: white;
}

.size{
    font-size: 45px !important;
}