.caixa{
    background-color: #040404;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important
}

.postagens{
    background-color: white !important;
}

.imghome{
    display: block;
    padding: 30px 0px 0px 200px;
    height: 500px;
    width: auto;
    
}

.logo-size{
    width: 100px;
    height: auto;
}