.imagem2{
    background-image: url(https://c.tenor.com/M9vEigGET_cAAAAC/joker-joaquin-phoenix.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
}

.textos2{
    font-weight: bold !important;
    color: black;
}

.textos-link{
    font-weight: bold !important;
    color: black;
}

.textos-link:hover{
    text-decoration: underline;
}

.btnCancelar{
    margin-right: 20px !important;
}